:root {
  /* TODO: Add light version of colours */

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background-image: linear-gradient(
    to bottom right,
    var(--bg-primary),
    var(--bg-secondary)
  );
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #cdd2db;
    --text-h: #f3f4f6;
    --bg-primary: #222a41;
    --bg-secondary: #0c172b;
    --border: #4f5c82;
    --list-bg-primary: #384265;
    --list-bg-secondary: #14223c;
    --primary-color-light: #a080fd;
    --primary-color-dark: #6d3df9;
    --secondary-color-light: #00daad;
    --secondary-color-dark: #0091ca;
    --shadow: -3px -3px 4px #33373c, 3px 3px 5px #22232a;
  }
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  place-content: start;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
p {
  margin: 0;
}
